spring:
  application:
    name: hr-platform-api
    version: 0.0.1-SNAPSHOT
  datasource:
    url: ${DB_URL}
    driver-class-name: ${DRIVER_CLASS_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        default_schema: public
logging:
  level:
    dev.araopj.hrplatformapi: debug
