spring:
  application:
    name: hr-platform-api
    version: 0.0.1-SNAPSHOT
  datasource:
    url: jdbc:h2:mem:db
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
      ddl-auto: create-drop
    open-in-view: false
  data:
    jdbc:
      dialect: postgresql
  config:
    activate:
      on-profile: dev

logging:
  level:
    dev.araopj.hrplatformapi: debug
    root: info

management:
  endpoints:
    web:
      exposure:
        include: "*"
